.company-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  height: 90%;
}

.company-details h2 {
  text-align: center;
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.company-details__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.company-details__header p {
  font-weight: 700;
  width: 100%;
  padding: 1rem 0.25rem 0.25rem 0.25rem;
}

.company-details__basic-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.company-details__basic-info p {
  width: 100%;
  padding: 0.25rem;
}

.company-details__incomes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

.company-details__incomes .income {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.company-details__incomes .income p {
  width: 100%;
  padding: 0.25rem;
}

.company-details__incomes .income p:first-child {
  font-weight: 700;
  padding-top: 1rem;
}

.company-details__date-range {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.company-details__date-range p {
  margin: 1rem 0rem;
  text-align: center;
  font-weight: 700;
}

.company-details__datepickers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.company-details__datepicker p {
  text-align: left;
  font-size: 0.75rem;
  font-weight: normal;
  margin: 0;
}

.company-details__close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 10%;
  width: 100%;
}

.company-details__close button {
  font-size: 1.5rem;
  padding: 0.5rem;
  margin: 1rem;
}

.error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 60vh;
}

.error__icon {
  width: 5rem;
  height: 5rem;
  color: #b82601;
  margin-bottom: 1rem;
}

.error p {
  color: #b82601;
}

.loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 60vh;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
  padding: 2rem 0rem;
}

.pagination__item {
  padding: 0.25rem;
}

.pagination__item button {
  width: 1.5rem;
}

.pagination__item--active button {
  background-color: #e2dd28;
  border-color: #e2dd28;
  width: 1.5rem;
}

.pagination__arrow {
  color: #e2dd28;
  width: 1.5rem;
  height: 1.5rem;
  margin: 0rem 0.5rem;
}

.pagination__arrow.right:active {
  -webkit-transform: translateX(4px);
          transform: translateX(4px);
}

.pagination__arrow.left:active {
  -webkit-transform: translateX(-4px);
          transform: translateX(-4px);
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 10vh;
}

.table {
  height: 90vh;
}

.table__wrapper {
  border: 0.25rem solid #2b2d42;
  border-radius: 1rem;
  background-color: #8d99ae;
  margin: 0rem 2rem;
  -webkit-box-shadow: 0 1.25px 2.25rem rgba(0, 0, 0, 0.3), 0 1rem 0.75rem rgba(0, 0, 0, 0.22);
          box-shadow: 0 1.25px 2.25rem rgba(0, 0, 0, 0.3), 0 1rem 0.75rem rgba(0, 0, 0, 0.22);
}

.table__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0.25rem 5rem;
}

.table__row.header {
  position: relative;
  font-weight: 700;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.table__row.header:after {
  content: "";
  width: 95%;
  height: 0.1rem;
  /* slight higher to work around rounding errors(?) on some zoom levels in some browsers. */
  background-color: #2b2d42;
  position: absolute;
  bottom: 0;
}

.table__row p {
  width: 100%;
  text-align: start;
}

button {
  font-size: 0.75rem;
  padding: 0.25rem;
  outline: 0;
  font-weight: 100;
  border-radius: 1rem;
  color: #000000;
  border: 0.1rem solid #2b2d42;
  background-color: #e8e8e8;
  -webkit-transition: background-color 1s ease;
  transition: background-color 1s ease;
  -webkit-transition: border-color 1s ease;
  transition: border-color 1s ease;
}

button:hover {
  background-color: #e2dd28;
  border-color: #e2dd28;
}

button:active {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
  border-color: #e2dd28;
  background-color: #e2dd28;
}

input {
  border: 0;
  border-bottom: 0.1rem solid #2b2d42;
  background: transparent;
  padding: 0.5rem 0 0.25rem 0;
  font-size: 1.5rem;
  color: black;
}

input:focus {
  border: none;
  outline: none;
  border-bottom: 0.1rem solid #e2dd28;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

@media only screen and (max-width: 600px) {
  * {
    font-size: 10px;
  }
}

.App {
  background-color: #e8e8e8;
  height: 100vh;
}
/*# sourceMappingURL=main.css.map */