.company-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  height: 100%;
}

.company-details__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.company-details__header p {
  font-weight: 700;
  width: 100%;
  padding: 1rem 0.25rem 0.25rem 0.25rem;
}

.company-details__basic-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.company-details__basic-info p {
  width: 100%;
  padding: 0.25rem;
}

.company-details__incomes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

.company-details__incomes .income {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.company-details__incomes .income p {
  width: 100%;
  padding: 0.25rem;
}

.company-details__incomes .income p:first-child {
  font-weight: 700;
  padding-top: 1rem;
}

.company-details__close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.company-details__close button {
  font-size: 1.5rem;
  padding: 0.5rem;
  margin: 1rem;
}

.border {
  border: 1px solid yellow;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
  padding: 2rem 0rem;
}

.pagination__item {
  padding: 0.25rem;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 10vh;
}

.table {
  height: 90vh;
}

.table__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0.25rem 5rem;
}

.table__row.header {
  font-weight: 700;
  padding-bottom: 0.75rem;
}

.table__row p {
  width: 100%;
  text-align: start;
}

input {
  font-size: 1.5rem;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

@media only screen and (max-width: 600px) {
  * {
    font-size: 10px;
  }
}

.App {
  background-color: white;
  height: 100vh;
}
/*# sourceMappingURL=main.css.map */