.chart {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  p {
    font-weight: 700;
    padding: 1rem;
    text-align: center;
  }
}

.recharts-wrapper {
  border: 0.2rem solid $first-color;
  border-radius: 1rem;
  background-color: $background-color;
  width: 40rem !important;
  height: 17rem !important;
  padding: 1rem;
  box-shadow: 0 1.25px 2.25rem rgba(0, 0, 0, 0.3),
    0 1rem 0.75rem rgba(0, 0, 0, 0.22);

  @media only screen and (max-width: 860px) {
    height: 20rem !important;
    width: 45rem !important;
  }
  @media only screen and (max-width: 480px) {
    width: 28rem !important;
    height: 15rem !important;
  }
}

.recharts-surface {
  margin-top: 1rem;

  @media only screen and (max-width: 860px) {
    width: 100% !important;
    height: 100% !important;
  }
  @media only screen and (max-width: 600px) {
    width: 100% !important;
    height: 100% !important;
  }
  @media only screen and (max-width: 480px) {
    width: 100% !important;
    height: 100% !important;
  }
}
