.company-details {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;

  &__header {
    display: flex;
    justify-content: space-around;
    p {
      font-weight: 700;
      width: 100%;
      padding: 1rem 0.25rem 0.25rem 0.25rem;
    }
  }

  &__basic-info {
    display: flex;
    justify-content: space-around;
    p {
      width: 100%;
      padding: 0.25rem;
    }
  }

  &__incomes {
    display: flex;
    justify-content: space-around;
    width: 100%;

    .income {
      display: flex;
      flex-direction: column;

      p {
        &:first-child {
          font-weight: 700;
          padding-top: 1rem;
        }
        width: 100%;
        padding: 0.25rem;
      }
    }
  }

  &__date-range {
    display: flex;
    flex-direction: column;

    p {
      margin: 1rem 0rem;
      text-align: center;
      font-weight: 700;
    }
  }

  &__datepickers {
    display: flex;
    justify-content: space-around;
  }

  &__datepicker {
    p {
      text-align: left;
      font-size: 0.75rem;
      font-weight: normal;
      margin: 0;
    }
  }

  &__close {
    @include flex-center;
    position: absolute;
    bottom: 0;
    width: 100%;
    button {
      font-size: 1.5rem;
      padding: 0.5rem;
      margin: 1rem;
    }
  }
}
