.pagination {
  @include flex-center;
  list-style-type: none;
  padding: 2rem 0rem;

  &__wraper {
    width: 100%;
    position: absolute;
    bottom: 0;
  }

  &__item {
    padding: 0.25rem;

    button {
      width: 1.5rem;
    }

    &--active {
      button {
        background-color: $second-color;
        border-color: $second-color;
        width: 1.5rem;
      }
    }
  }

  &__arrow {
    color: $second-color;
    width: 1.5rem;
    height: 1.5rem;
    margin: 0rem 0.5rem;
    &.right:active {
      transform: translateX(4px);
    }
    &.left:active {
      transform: translateX(-4px);
    }
  }
}
