.pagination {
  @include flex-center;
  list-style-type: none;
  padding: 2rem 0rem;

  &__item {
    padding: 0.25rem;

    button {
      width: 1.5rem;
    }

    &--active {
      button {
        background-color: $second-color;
        border-color: $second-color;
        width: 1.5rem;
      }
    }
  }
}
