input {
  border: 0;
  border-bottom: 0.1rem solid $first-color;
  background: transparent;
  padding: 0.5rem 0 0.25rem 0;
  font-size: 1.5rem;
  color: black;

  &:focus {
    border: none;
    outline: none;
    border-bottom: 0.1rem solid $second-color;
  }
}
